@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');
@import url('https://github.com/adobe-fonts/source-serif-pro.git');
@import url('https://use.typekit.net/lfp2stq.css');
@import url('../../../assets/font/SFDisplay/style.css');

.inicio-conteiner{
  display: grid;
}

.information{
  display: inline-block;
  align-items: top;
  background: transparent;
  width: 100%;
  max-width: 80%;
  margin: 32px auto;
  color: #c7c7c7;
  animation: text 2.5s ease-in 1;
}

@keyframes text {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;    
  }
}

.abautUs{
  margin-top: 0;
  display: inline-block;
  vertical-align: top;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: -4px;
  *zoom: 1;
  *display: inline;
}

.textInf {
  display: flex;
  float: right;
  height: auto;
  width: 60%;
  justify-content: end;
  align-items: top;
  padding-top: 60px;
  font-family: 'SF UI Display light';
  font-size: 14px;
  text-align: justify;
  color: #c7c7c7;
}

.information h1 {
  font-size: 40px;
  color: #707070;
}

.information ul {
  margin-top: 10px;
  list-style: none;
  cursor: pointer;
  font-size: 25px;
}

.information ul li {
  margin-top: 5px;
}

.information ul li:hover{
  color: #ff4040;
}

.space{
  height: 136px;
}

@media(max-width: 700px){
  .space{
    display: none;
  }
  .information{
    display: inline;
  }
  .abautUs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }
  .textInf{
    display: flex;
    align-items: center;
    width: 80%;
  }
}