@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');
@import url('https://github.com/adobe-fonts/source-serif-pro.git');
@import url('https://use.typekit.net/lfp2stq.css');
@import url('../../../assets/font/SFDisplay/style.css');

.agenda-conteiner{
  margin: 0;
  background: #f0f0f5;
}

.agenda-conteiner #agd-text {
  display: flex;
  align-items: center;
  max-width: 85%;
  background: transparent;
  margin: 32px auto;
  justify-content: space-between;
}

.agenda-conteiner .meses{
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  margin-right: 450px;
  margin-left: 8px;
  width:50px;
  height: 30px;
  font-family: 'SF UI Display Medium';
}

.meses p{
  text-decoration: underline;
  padding: 0px 10px;
  border-right: 1px solid black;
}

.meses p:last-child{
  border: none;
}
.meses p:hover{
  color: #ff4040;
}

.agenda-conteiner h1 {
  color: #707070;
  font-size: 48px;
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: bold;
}

.agenda-conteiner img{
  width: 15px;
  margin: 6px;
}

.agenda-conteiner section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'SF UI Display Light';
  font-size: 10px;
  text-align: right;
  align-content: flex-end;
}
