@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');
@import url('https://github.com/adobe-fonts/source-serif-pro.git');
@import url('https://use.typekit.net/lfp2stq.css');
@import url('../../../assets/font/SFDisplay/style.css');

.agenda-conteiner{
  margin: 0;
  background: #f0f0f5;
}

.agenda-conteiner header{
  display: flex;
  align-items: center;
  max-width: 80%;
  background: transparent;
  margin: 32px auto;
  justify-content: space-between;
}

.agenda-conteiner ul{
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  margin-left: 8px;
  font-family: 'SF UI Display Medium';
}

 ul li{
  text-decoration: underline;
  padding: 0px 10px;
  border-right: 1px solid black;  
}

ul li:last-child{
  border: none;
}
ul li:hover{
  color: #ff4040;
}

.agenda-conteiner h1 {
  color: #707070;
  font-size: 48px;
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: bold;
}

.agenda-conteiner img{
  width: 15px;
  margin: 6px;
}

.agenda-conteiner section {
  display: flex;
  align-items: center;
  font-family: 'SF UI Display Light';
  font-size: 10px;
}
.name{
  display: flex;
  align-items: center;
}

@media(max-width: 700px){
  .name{
    display: block;
    align-items: center;
    text-align: center;
  }
  ul{
    align-items: center;
    justify-content: center;
  }

  ul li{
    align-items: center;
    text-align: center;
  }
  
  .agenda-conteiner header{
    display: block;
    align-items: center;
    text-align: center;
  }

  .agenda-conteiner header section{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
