@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');
@import url('https://github.com/adobe-fonts/source-serif-pro.git');
@import url('https://use.typekit.net/lfp2stq.css');
@import url('../../../assets/font/SFDisplay/style.css'
);
.Header{
  display: grid;
  justify-content: space-between;
  grid-template-areas: "logo nav";
  background: transparent;
  width: 100%;
  max-width: 85%;
  height: 100px;
  margin: 32px auto;
}

.spacer {
  flex: 1;
}

.title{
  position: absolute;
  width: 80%;
  height: 100px;
  margin: 0;
  max-width: 570px;
  display: grid;
  grid-template-columns: 1fr 4.2fr;
  grid-template-rows: 10.6vh;
  align-content: center;
}


.title .logo {
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  flex-direction: left;
  width: 100px;
}

.title h1{
  padding-top: 18px;
  grid-column: 2;
  grid-row: 1;
  color:white;
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-size: 44px;
  line-height: 1;
  justify-self: left;
}

.title p{
  padding-top: 64px;
  grid-column: 2;
  grid-row: 1;
  font-family: 'SF UI Display Light';
  font-size: 16px;
  width: auto;
  color: #787878;  
}

.Nav {
  grid-area: "nav";
  display: flex;

  align-items: center;
  justify-items: center;
  margin-top: 28px;
  grid-column: 3;
}

.Nav span {
  margin-left: 30px;
  font:700 24px 'Source Serif Pro';
  color: white;
  margin-right: 5px;
}

.Nav p {
  font-family: 'SF UI Display Medium';
  font-size: 14px;
  color: #ff4040;
}

.Nav a {
  font-family: 'SF UI Display Medium';
  color: white;
  text-decoration: none;
  display: grid;
  font-display: block;
  margin: 6px;
  margin-right: 0;
  font-size: 14px;
}

.Header button{
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
  display: none;
}

  @media (max-width: 700px) {
    .title-name{
      display: none;
    }
    .Header{
      grid-template-areas: "logo navIcon" "nav nav";
    }

    .Nav{
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: none;
      grid-row-gap: 20px;
    }

    .Header button{
      display: block;
    }
  }

.dropdown {
  position: relative;
  cursor: pointer;
  transition: filter 0.2s;
}

.dropdown:hover span{
  color: #c7c7c7;
}

.dropdown img {
  margin-left: 5px;
}

.dropdown .icon{
  display: flex;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  text-align: right;
  margin-right: 0;
  right: 0;
  cursor: pointer;
  width: 100%;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content #atd{
  color: white;
}

.dropdown #sub-menu{
  padding-top: 8px;
  padding-right: 3px;
}

.dropdown #sub-info{
  padding-top: 8px;
  
}

.social {
  display: flex;
  flex-flow: row nowrap;
  width: auto;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 0px;
  margin: 0;
}

.facebook{
  background-image: url("../../../assets/icons/icon-facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px 5px;
  width: 25px;
  height: 25px;
}

.instagram{
  background-image: url("../../../assets/icons/icon-instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px 5px;
  width: 25px;
  height: 25px;
}

.whatsapp{
  background-image: url("../../../assets/icons/icon-whatsapp.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px 5px;
  width: 25px;
  height: 25px;
}

#sub-menu {
  margin-right: 12px;
}

#sub-menu::after {
  content: " ";
  background: #ff4040;
  height: 124px;
  width: 2px;
  position: absolute;
  right: -10px;
  top: 15px;
}

#sub-menu a:hover {
  color: #ff4040;
  transform: scale(1.1);
}

#sub-menu a:active{
  color: #ff4040;
}

#sub-menu a:default{
  color: white;
}

.social a:hover {
  background-color: #ff4040;
  background-size: 30px;
}
