@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');
@import url('https://github.com/adobe-fonts/source-serif-pro.git');
@import url('https://use.typekit.net/lfp2stq.css');
@import url('../../../assets/font/SFDisplay/style.css');

.register-conteiner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  height: 150px;
  width: auto;
}

.text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 80%;
  margin: 32px auto;
}

.register-conteiner p {  
  font-size: 24px;
  color: #707070;
}

.register-conteiner h1 {
  font-size: 50px;
  color: #fff;
  font-family: 'SF UI Display Semibold';
}

.register-conteiner button {
  transition-duration: 0.15s;
  cursor: pointer;
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-size: 36px;
  height: 80px;
  width: 30%;
  border-radius: 50px;
  border: none;
  color: #000;
}

button:hover{
  transition-duration: 0.15s;
  background-color: #ff4040;
  color: white;
}

@media(max-width: 700px){
  .register-conteiner{
    display: flex;
    align-items: left;
  }
  .register-conteiner h1{
    font-size: 30px;
  }
  .register-conteiner p{
    font-size: 15px;
  }
  .register-conteiner button{
    height: 60px;
    font-size: 25px;
  }
}
