@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');
@import url('/src/assets/font/SFDisplay/style.css');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  background: #000;
  font-style: SF UI Display Medium;
  -webkit-font-smoothing: antialiased;
}

input button form{
  font-style: SF UI Display Medium;
}

